@import url('http://fonts.googleapis.com/css?family=Roboto:400,700');
/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
/**
 * Font Family: Roboto
 * Weight: 400, 700
 */
html {
  font-size: 62.5%;
  min-height: 100%; }

body {
  margin: 0;
  color: #ffffff;
  background: #2c2b2b;
  font-family: Roboto, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  color: #ffffff; }

h1 {
  font-size: 4.8rem; }

h2 {
  font-size: 3.2rem; }

h3 {
  font-size: 2.2rem; }

h4 {
  font-size: 1.8rem; }

h5 {
  font-size: 1.4rem; }

h6 {
  font-size: 1.4rem; }

a {
  color: #57c3d3; }
  a:hover, a:focus {
    text-decoration: none; }
  a:hover, a:active {
    color: #2b96a5; }

hr {
  border-top: 1px solid #666; }

.site-title {
  margin-bottom: 5px; }
  .site-title a {
    color: #ffffff; }
    .site-title a:hover, .site-title a:active {
      color: #ffffff; }

.subtitle {
  color: #979797;
  font-size: 1.1rem; }

.social-button-list {
  height: 20px;
  text-align: right; }
  .social-button-list > * {
    vertical-align: top;
    margin-right: 5px; }

.vis-container {
  overflow: hidden;
  margin-top: -160px; }
  @media only screen and (max-width: 767px) {
    .vis-container {
      margin-top: 0px; } }

#map {
  margin-top: 35px;
  margin-left: 43px; }
  #map polygon, #map path {
    fill: transparent;
    stroke: #666; }

#vis {
  position: relative;
  background-repeat: no-repeat;
  background-position: 50px 35px; }
  @media only screen and (max-width: 767px) {
    #vis {
      margin-left: -15%; } }
  #vis #overlay {
    position: absolute;
    top: 0;
    left: 0; }
  #vis .province {
    fill: transparent;
    stroke: transparent; }
  #vis .province-center {
    fill: cyan; }
  #vis .legend-icon-injured {
    fill: #57c3d3; }
  #vis .legend-icon-died {
    fill: #ff0000; }
  #vis .legend-text {
    fill: #ffffff;
    font-family: Roboto, sans-serif;
    font-size: 1.1rem;
    font-weight: normal;
    vertical-align: middle;
    alignment-baseline: middle; }

#side-panel {
  margin-top: 30px; }

#select-year {
  display: inline-block;
  margin-left: 10px;
  font-size: 1.4rem; }
  #select-year .dropdown-toggle {
    font-size: 3.2rem;
    color: orange;
    background: none;
    border: none; }
    #select-year .dropdown-toggle .caret {
      -webkit-transform: scale(1.4) translateX(5px);
      -khtml-transform: scale(1.4) translateX(5px);
      -moz-transform: scale(1.4) translateX(5px);
      -ms-transform: scale(1.4) translateX(5px);
      -o-transform: scale(1.4) translateX(5px);
      transform: scale(1.4) translateX(5px); }
  #select-year .dropdown-menu {
    background: #2c2b2b; }
    #select-year .dropdown-menu a {
      color: #ffffff;
      background-color: transparent; }
      #select-year .dropdown-menu a:hover, #select-year .dropdown-menu a:active {
        color: #b3b3b3; }
      #select-year .dropdown-menu a:hover, #select-year .dropdown-menu a:active {
        background-color: #666; }
      #select-year .dropdown-menu a.selected {
        color: orange; }
        #select-year .dropdown-menu a.selected:hover, #select-year .dropdown-menu a.selected:active {
          color: #b37300; }

#timeline {
  width: 100%;
  height: 60px;
  margin-top: 20px; }
  #timeline #slider {
    background: #444;
    border: none;
    height: 20px; }
    #timeline #slider label {
      position: absolute;
      display: block;
      width: 60px;
      margin-top: 24px;
      margin-left: 8px;
      color: #dddddd;
      font-weight: normal;
      font-size: 1.1rem;
      border-radius: 0; }
      #timeline #slider label:before {
        content: '';
        position: absolute;
        display: block;
        top: -24px;
        left: -8px;
        border-left: 1px solid #666;
        height: 40px; }
  #timeline .ui-slider-handle.ui-state-default.ui-corner-all {
    background: orange;
    border: none;
    border-radius: 40px;
    width: 20px;
    height: 20px;
    top: 0; }

.number-display .count {
  display: inline-block;
  margin-right: 10px; }
.number-display .text {
  display: inline-block; }

#total-casualty {
  color: #dddddd; }
  #total-casualty .count {
    font-size: 2.2rem; }
  #total-casualty .text {
    font-size: 1.8rem; }

#injured-casualty {
  color: #57c3d3; }
  #injured-casualty .count {
    font-size: 4.8rem; }
  #injured-casualty .text {
    font-size: 1.8rem; }

#died-casualty {
  color: #ff0000; }
  #died-casualty .count {
    font-size: 4.8rem; }
  #died-casualty .text {
    font-size: 1.8rem; }

.filter-display {
  margin-bottom: 10px; }
  .filter-display label {
    font-size: 1.1rem;
    font-weight: normal;
    color: #dddddd;
    margin: 0; }
  .filter-display ul.filter-options {
    display: block;
    margin: 0;
    padding: 0;
    line-height: 1.2; }
    .filter-display ul.filter-options li {
      display: inline-block; }
      .filter-display ul.filter-options li a {
        font-size: 1.8rem;
        color: #979797; }
        .filter-display ul.filter-options li a:hover, .filter-display ul.filter-options li a:active {
          color: #57c3d3; }
        .filter-display ul.filter-options li a.selected {
          color: #ffffff; }
          .filter-display ul.filter-options li a.selected:hover, .filter-display ul.filter-options li a.selected:active {
            color: #ffffff; }
      .filter-display ul.filter-options li:before {
        content: '/';
        margin: 0 5px; }
      .filter-display ul.filter-options li:first-child:before {
        content: '';
        margin: 0; }

#colophon {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 1.1rem;
  color: #979797; }
  #colophon .spotlight-box {
    position: relative;
    width: 180px;
    margin: 40px auto 40px; }
    #colophon .spotlight-box .logo {
      position: absolute;
      top: 0;
      width: 180px;
      height: 180px;
      border-radius: 180px;
      opacity: 0.05;
      -webkit-transform: scale(0.95);
      -khtml-transform: scale(0.95);
      -moz-transform: scale(0.95);
      -ms-transform: scale(0.95);
      -o-transform: scale(0.95);
      transform: scale(0.95);
      -webkit-transition: all 0.2s ease-in;
      -khtml-transition: all 0.2s ease-in;
      -moz-transition: all 0.2s ease-in;
      -ms-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in; }
      #colophon .spotlight-box .logo img {
        width: 70%;
        margin-top: 8%; }
    #colophon .spotlight-box .spot {
      position: relative;
      width: 180px;
      height: 180px; }
      #colophon .spotlight-box .spot:before, #colophon .spotlight-box .spot:after {
        content: '';
        position: absolute;
        display: inline-block;
        width: 180px;
        height: 180px;
        border-radius: 180px;
        background-color: rgba(255, 255, 255, 0.3);
        -webkit-transition: all 0.2s ease-in;
        -khtml-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        -ms-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in; }
      #colophon .spotlight-box .spot:before {
        top: 0;
        left: -50px; }
      #colophon .spotlight-box .spot:after {
        top: 0;
        right: -50px; }
    @media only screen and (max-width: 767px) {
      #colophon .spotlight-box {
        width: 80px;
        margin-top: 20px; }
        #colophon .spotlight-box .logo, #colophon .spotlight-box .spot, #colophon .spotlight-box .spot:before, #colophon .spotlight-box .spot:after {
          width: 80px;
          height: 80px; } }
  #colophon .team {
    font-size: 1.2rem;
    color: #ffffff; }

@media only screen and (max-width: 767px) {
  #colophon .spotlight-box .logo {
    opacity: 1;
    -webkit-transform: scale(1);
    -khtml-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }

  #colophon .spotlight-box .spot:before {
    left: -3px;
    top: -1px;
    background-color: rgba(255, 255, 255, 0.8); }
  #colophon .spotlight-box .spot:after {
    right: -3px;
    top: 1px;
    background-color: rgba(255, 255, 255, 0.8); }
 }

#colophon .spotlight-box:hover .logo {
  opacity: 1;
  -webkit-transform: scale(1);
  -khtml-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1); }
#colophon .spotlight-box:hover .spot:before {
  left: -3px;
  top: -1px;
  background-color: rgba(255, 255, 255, 0.8); }
#colophon .spotlight-box:hover .spot:after {
  right: -3px;
  top: 1px;
  background-color: rgba(255, 255, 255, 0.8); }

.d3-tip {
  line-height: 1.5;
  font-size: 1.2rem;
  font-weight: normal;
  padding: 12px;
  background: #ff0000;
  color: #ffffff;
  border-radius: 8px; }

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: #ff0000;
  content: "\25BC";
  position: absolute;
  text-align: center; }

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0; }
